/* CORES */
:root {
  --verde-floresta: #1B4332;
  --dourado-conquista: #D4A64F;
  --creme: #F5F1E8;
  --preto: #000000;
  --verde: #174633;
  /* verde floresta */
  --verde-claro: #becdc5;
  --verde-fundo: #e8ebe0;
  --fundo-pluma: #E7E7DB;
  --dourado-claro: #f1dfb7;
  --branco: #ffffff;
  --cinza-texto: #40594c;
  --borda: #b7c4bd;
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--branco);
  color: var(--verde-floresta);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: var(--verde-floresta);
}

button {
  font-family: var(--font-family);
  border: none;
  background: none;
  cursor: pointer;
}

header {
  width: 100%;
  height: 78px;
  padding: 0 82px;
  background-color: var(--creme);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header>div img {
  width: 205px;
}

nav {
  display: flex;
  align-items: center;
  gap: 34px;
}

nav button {
  display: none;
}

nav a {
  font-size: 14px;
  font-weight: 500;
  color: var(--verde-floresta);
}

nav a:nth-of-type(3) {
  padding: 12px 30px;
  border: 1px solid var(--dourado-conquista);
  color: var(--dourado-conquista);
}

nav a:nth-of-type(4) {
  padding: 13px 28px;
  background-color: var(--dourado-conquista);
  color: var(--branco);
  border-radius: 4px;
  font-weight: 600;
}

/* parte de inicio do site */

.hero {
  position: relative;
  min-height: 530px;
  padding: 38px 0 40px 82px;
  overflow: hidden;
}

.texto-inicio {
  margin-bottom: 30px;
}

.caixinha-do-inicio {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 18px;
  background-color: var(--branco);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  font-size: 13px;
  font-weight: 600;
  color: var(--preto);
}

.hero h1 {
  max-width: 640px;
  font-size: 52px;
  line-height: 1.12;
  font-weight: 700;
  color: var(--verde);
  margin-bottom: 28px;
}

.hero>p {
  max-width: 610px;
  font-size: 20px;
  line-height: 1.3;
  color: var(--verde);
  margin-bottom: 36px;
}

.botoes-inicio {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-bottom: 32px;
}

.botoes-inicio a:first-child {
  width: 205px;
  height: 64px;
  border-radius: 8px;
  background-color: var(--dourado-conquista);
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
}

.botoes-inicio a:last-child {
  width: 220px;
  height: 64px;
  border: 1px solid var(--dourado-conquista);
  border-radius: 8px;
  color: var(--preto);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 17px;
  font-weight: 700;
}

.lista-inicio {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.lista-inicio {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.lista-inicio li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  color: var(--cinza-texto);
}

.lista-inicio img {
  width: 20px;
  height: 20px;
}

.imagem-inicio {
  position: absolute;
  right: 34px;
  top: 54px;
  width: 585px;
  z-index: -1;
}

.pedaco-do-recurso {
  width: calc(100% - 38px);
  margin: 0 auto;
  padding: 16px 26px 32px;
  background-color: var(--creme);
  border-radius: 20px;
  transform: translateY(-4px);
}

.pedaco-do-recurso h2 {
  text-align: center;
  font-size: 34px;
  line-height: 1.2;
  color: var(--verde);
  margin-bottom: 30px;
}

.cards-do-resumo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;
}

.resumo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.resumo>div:first-child {
  width: 74px;
  height: 74px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde-claro);
}

.resumo:nth-child(2)>div:first-child,
.resumo:nth-child(4)>div:first-child {
  background-color: var(--dourado-claro);
}


.resumo h3 {
  font-size: 16px;
  line-height: 1.2;
  color: var(--verde-floresta);
  margin-bottom: 8px;
}

.resumo p {
  font-size: 12px;
  line-height: 1.25;
  color: var(--verde-floresta);
}

/* AGORA VOU FAZER OS RECURSOS */

.recursos {
  background: var(--branco);
  padding: 70px 0 80px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: var(--verde-floresta);

}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recursos h2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--verde-floresta);
  justify-content: center;
}

.subtitulo-recurso {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 55px;
  color: var(--verde-floresta);
}

.pagina-recursos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px 22px;
  justify-content: center;
}

.card-recurso {
  width: 210px;
  min-height: 245px;

  border: 1px solid var(--verde-claro);
  border-radius: 14px;
  background: var(--branco);
  padding: 32px 16px 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-recurso:hover {
  transform: translateY(-4px);
  box-shadow: 0.6px 14px var(--verde-claro);
}

.icone-recurso {
  width: 72px;
  height: 72px;
  border-radius: 50%;


  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;
}

.icone-recurso img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.card-recurso h3 {
  font-size: 17px;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 14px;
  color: var(--verde-floresta);
}

.card-recurso p {
  font-size: 14px;
  line-height: 1.25;
  color: var(--verde-floresta);
}

.pluma {
  min-height: 470px;
  padding: 50px 72px 0;

  display: grid;
  grid-template-columns: 430px 1fr;
  align-items: center;
  gap: 80px;
  overflow: hidden;

  background-image: url("../assets/img-início/fundo.png");
}

.imagem-pluma img {
  max-width: 430px;
}

.pluma-texto {
  max-width: 560px;
}

.tag-pluma {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 175px;
  height: 30px;
  padding: 8px 18px;
  border: 1px solid var(--verde-floresta);
  border-radius: 999px;
  font-size: 13px;
  color: var(--verde-floresta);
  margin-bottom: 20px;
  font-weight: 700;
}

.pluma-texto h2 {
  font-size: 42px;
  line-height: 1.15;
  color: var(--verde-floresta);
  margin-bottom: 18px;
}

.pluma-texto>p {
  font-size: 16px;
  line-height: 1.45;
  color: var(--verde-floresta);
  margin-bottom: 14px;
}

.pluma-lista {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 46px;
}

.pluma-lista p {
  position: relative;
  padding-left: 26px;
  font-size: 14px;
  font-weight: 600;
  color: var(--verde-floresta);
}

.sobre {
  padding: 34px 40px 30px;
  text-align: center;
  background-color: var(--branco);
}

.sobre h2 {
  font-size: 41px;
  line-height: 1.1;
  color: var(--verde-floresta);
  margin-bottom: 22px;
  font-weight: 800;
}

.texto-sobre p {
  font-size: 15px;
  line-height: 1.15;
  color: var(--preto);
  margin-bottom: 18px;
}

.sobre>.sobre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

}

.card-sobre1,
.card-sobre {
  min-height: 355px;
  padding: 45px 35px 35px;
  border: 1px solid var(--borda);
  border-radius: 10px;
  background-color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-sobre:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(27, 67, 50, 0.12);
}

.card-sobre1 h3,
.card-sobre h3 {
  font-size: 18px;
  color: var(--verde-floresta);
  text-align: center;
  margin-bottom: 28px;
}

.icone-sobre {
  width: 94px;
  height: 94px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}

.icone-sobre img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.card-sobre1 p,
.card-sobre p {
  font-size: 16px;
  line-height: 1.42;
  color: var(--preto);
}

.valores-sobre {
  padding: 12px 38px 42px;
}

.valores-sobre h2 {
  text-align: center;
  font-size: 31px;
  color: var(--verde);
  margin-bottom: 44px;
}

.grid-valores {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 68px;
}

.card-valores {
  min-height: 130px;
  padding: 22px 24px 18px;
  border: 1px solid var(--borda);
  border-radius: 8px;
  background-color: var(--branco);
  text-align: center;
  position: relative;
}

.icone-valores {
  position: absolute;
  left: 26px;
  top: 25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-valores img {
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
  object-fit: contain;
}

.card-valores h3 {
  padding-left: 48px;
  font-size: 16px;
  line-height: 1.15;
  color: var(--verde);
  margin-bottom: 16px;
  text-align: left;
}

.card-valores p {
  font-size: 12px;
  line-height: 1.25;
  color: var(--preto);
}


@media (max-width: 900px) {
  header {
    height: auto;
    padding: 18px 24px;
    flex-direction: column;
    gap: 16px;
  }

  header>div img {
    width: 160px;
  }

  nav {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
  }

  .hero {
    padding: 35px 22px;
    text-align: center;
    min-height: auto;
  }

  .hero h1 {
    font-size: 36px;
    margin: 0 auto 20px;
  }

  .hero>p {
    font-size: 16px;
    margin: 0 auto 28px;
  }

  .botoes-inicio {
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .lista-inicio {
    align-items: center;
  }

  .imagem-inicio {
    position: static;
    width: 340px;
    margin: 30px auto 0;
    z-index: 0;
  }

  .pedaco-do-recurso {
    width: calc(100% - 30px);
  }

  .cards-do-resumo {
    grid-template-columns: repeat(2, 1fr);
  }

  .resumo {
    flex-direction: column;
    text-align: center;
  }

  .pagina-recursos {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-recurso {
    max-width: 100%;
  }

  .pluma {
    grid-template-columns: 1fr;
    padding: 40px 24px;
    text-align: center;
    background-color: var(--fundo-pluma);
  }

  .imagem-pluma img {
    max-width: 300px;
    margin: 0 auto;
  }

  .pluma-lista {
    grid-template-columns: 1fr;
  }

  .sobre,
  .valores-sobre {
    padding: 50px 24px;
  }

  .sobre>.sobre,
  .grid-valores {
    grid-template-columns: 1fr;
  }

  .texto-sobre {
    text-align: center;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    padding: 35px 24px;
    gap: 24px;
  }

  .imagem-footer img {
    max-width: 180px;
    margin: 0 auto;
  }
}

@media (max-width: 520px) {

  nav a:nth-of-type(3),
  nav a:nth-of-type(4) {
    width: 100%;
    max-width: 260px;
    text-align: center;
  }

  .hero h1 {
    font-size: 30px;
  }

  .hero>p {
    font-size: 15px;
  }

  .botoes-inicio {
    flex-direction: column;
  }

  .botoes-inicio a:first-child,
  .botoes-inicio a:last-child {
    width: 100%;
    max-width: 280px;
  }

  .imagem-inicio {
    width: 280px;
  }

  .cards-do-resumo,
  .pagina-recursos {
    grid-template-columns: 1fr;
  }

  .card-recurso {
    max-width: 280px;
    margin: 0 auto;
  }

  .recursos h2,
  .sobre h2,
  .valores-sobre h2 {
    font-size: 28px;
  }

  .pedaco-do-recurso h2 {
    font-size: 24px;
  }

  .pluma {
    background-color: var(--fundo-pluma);
  }
}